<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: List vulnerabilities in distro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="|Vulnerabilities list for ${distro} ${version} in packages ${packages}|" />

<table>
    <tr th:each="item: ${sourcePackageCves}">
        <td th:text="${item.id}" />
        <td th:text="${item.cvePublishedDate}" />
        <td th:text="${item.sourcePackage}" />
    </tr>
</table>

</body>
</html>