<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: CVE Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>

<h1 th:text="|Details for ${cveDetails.cveId}|" />

<a th:href="@{https://nvd.nist.gov/vuln/detail/} + ${cveDetails.cveId}">NIST National Vulnerability Database Entry</a>

<blockquote>
    <p th:text="|Description: ${cveDetails.description}|" />
</blockquote>

<p th:text="|Vulnerability Status: ${cveDetails.vulnStatus}|" />

<p th:text="|Published Date: ${cveDetails.cvePublishedDate}|" />

<p th:text="|Base Score (Version 4): ${cveDetails.baseScoreV40}|" />
<p th:text="|Vector String (Version 4): ${cveDetails.vectorStringV40}|" />

<p th:text="|Base Score (Version 3.1): ${cveDetails.baseScoreV31}|" />
<p th:text="|Vector String (Version 3.1): ${cveDetails.vectorStringV31}|" />

<p th:text="|Base Score (Version 3.0): ${cveDetails.baseScoreV30}|" />
<p th:text="|Vector String (Version 3.0): ${cveDetails.vectorStringV30}|" />

<p th:text="|Base Score (Version 2): ${cveDetails.baseScoreV2}|" />
<p th:text="|Vector String (Version 2): ${cveDetails.vectorStringV2}|" />

<h2>Affected Linux Versions</h2>

<table>
    <thead>
    <tr>
        <th>Distro</th>
        <th>Version</th>
        <th>Source Package</th>
        <th>Package Version</th>
        <th>Is Vulnerable</th>
    </tr>
    </thead>
    <tr th:each="distro,iterStat : ${cveDetails.distro}">
        <td th:text="${distro}"></td>
        <td th:text="${cveDetails.distroVersion[__${iterStat.index}__]}"></td>
        <td th:text="${cveDetails.sourcePackageName[__${iterStat.index}__]}"></td>
        <td th:text="${cveDetails.sourcePackageVersion[__${iterStat.index}__]}"></td>
        <td th:text="${cveDetails.isVulnerable[__${iterStat.index}__]}"></td>
    </tr>

</table>

</body>
</html>