<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: List vulnerabilities in distro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>
<h1 th:text="|Vulnerabilities list for Garden Linux ${gardenlinuxVersion} in packages ${packages}|" />

<table class="datatable">
    <thead>
    <tr>
        <th>CVE ID</th>
        <th>CVE Published Date</th>
        <th>Source Package</th>
        <th>Version</th>
        <th>Is Vulnerable?</th>
    </tr>
    </thead>
    <tr th:each="item: ${sourcePackageCves}">
        <td><a th:href="@{/getCveDetails(cveId=${item.cveId})}"> <div th:text="${item.cveId}"/> </a></td>
        <td th:text="${item.cvePublishedDate}" />
        <td th:text="${item.sourcePackageName}" />
        <td th:text="${item.sourcePackageVersion}" />
        <td th:text="${item.isVulnerable}" />
    </tr>
</table>

</body>
</html>
