<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: CVE Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
          table-layout: fixed;
          width: 100%;
        }

        td {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

    </style>
</head>
<body>

<p th:text="|Details for ${cveDetails.cveId}|" />

<p th:text="|Description: ${cveDetails.description}|" />

<p th:text="|Vulnerability Status: ${cveDetails.vulnStatus}|" />

<p th:text="|Published Date: ${cveDetails.cvePublishedDate}|" />

<p th:text="|Base Score (Version 4): ${cveDetails.baseScoreV40}|" />
<p th:text="|Base Score (Version 3.1): ${cveDetails.baseScoreV31}|" />
<p th:text="|Base Score (Version 3.0): ${cveDetails.baseScoreV30}|" />
<p th:text="|Base Score (Version 2): ${cveDetails.baseScoreV2}|" />

<p th:text="|Vector String (Version 4): ${cveDetails.vectorStringV40}|" />
<p th:text="|Vector String (Version 3.1): ${cveDetails.vectorStringV31}|" />
<p th:text="|Vector String (Version 3.0): ${cveDetails.vectorStringV30}|" />
<p th:text="|Vector String (Version 2): ${cveDetails.vectorStringV2}|" />


</body>
</html>