<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: List vulnerabilities in distro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>
<h1 th:text="|Vulnerabilities list for Garden Linux ${gardenlinuxVersion} (ignoring resolved issues)|" />

<div>Switch Garden Linux Version: </div>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=today,onlyVulnerable=true)}">today</a>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=1592.4,onlyVulnerable=true)}">1592.4</a>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=1592.5,onlyVulnerable=true)}">1592.5</a>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=1592.6,onlyVulnerable=true)}">1592.6</a>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=1592.7,onlyVulnerable=true)}">1592.7</a>

<a th:href="@{/getCveForDistribution(gardenlinuxVersion=1592.8,onlyVulnerable=true)}">1592.8</a>

<div>
    <a th:href="@{/getNvdExclusiveCve}">NVD Exclusive CVEs (need to triage)</a>
</div>

<p th:text="|Found ${#lists.size(sourcePackageCves)} potential security issues|"></p>

<a th:href="@{/getCveForDistributionAll(gardenlinuxVersion=${gardenlinuxVersion},onlyVulnerable=false)}">Show all potential issues</a>

<table>
    <thead>
    <tr>
        <th>CVE ID
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveId,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveId,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>CVE Base Score
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=baseScore,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=baseScore,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>Vector String</th>

        <th>CVE Published Date
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cvePublishedDate,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cvePublishedDate,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>CVE Last Modified Date
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveLastModifiedDate,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveLastModifiedDate,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>CVE Last Ingested Date
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveLastIngestedDate,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=cveLastIngestedDate,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>Source Package
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=sourcePackageName,sortOrder=ASC,onlyVulnerable=true)}">&uarr;</a>
            <a th:href="@{/getCveForDistribution(gardenlinuxVersion=${gardenlinuxVersion},sortBy=sourcePackageName,sortOrder=DESC,onlyVulnerable=true)}">&darr;</a>
        </th>

        <th>Version</th>
        <th>Is Vulnerable?</th>
    </tr>
    </thead>
    <tr th:each="item: ${sourcePackageCves}">
        <td><a th:href="@{/getCveDetails(cveId=${item.cveId})}"> <div th:text="[DETAILS]"></div> </a> <div th:text="${item.cveId}"/> </td>
        <td th:text="${item.baseScore}" />
        <td th:text="${item.vectorString}" />
        <td th:text="${item.cvePublishedDate}" />
        <td th:text="${item.cveLastModifiedDate}" />
        <td th:text="${item.cveLastIngestedDate}" />
        <td th:text="${item.sourcePackageName}" />
        <td th:text="${item.sourcePackageVersion}" />
        <td th:text="${item.isVulnerable}" />
    </tr>
</table>

<h2 th:text="|CVE Contexts for Garden Linux ${gardenlinuxVersion} |" />

<table>
    <thead>
    <tr>
        <th>CVE ID</th>
        <th>Create Date</th>
        <th>Descriptor</th>
        <th>Description</th>
        <th>Is Resolved?</th>
    </tr>
    </thead>
    <tr th:each="item: ${cveContexts}">
        <td><a th:href="@{/getCveDetails(cveId=${item.cveId})}"> <div th:text="[DETAILS]"></div> </a> <div th:text="${item.cveId}"/> </td>
        <td th:text="${item.createDate}"></td>
        <td th:text="${item.contextDescriptor}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.getResolved}"></td>
    </tr>
</table>

</body>
</html>
