<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: List CVE only available in NVD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>

<h1>NVD Exclusive CVEs</h1>

<div>
    The following list contains recent CVEs which are not in debian's security tracker (yet).
    There is a good chance that those don't affect Garden Linux at all, but some of them might.
    They are shown here to get a chance to react as quickly as possible, in case any of them is relevant.
</div>

<ul>
    <li th:each="item: ${cves}">
        CVE ID: <div th:text="${item.cveId}"></div>
        Vulnerability Status: <div th:text="${item.vulnStatus}"></div>
        CVE Published Date: <div th:text="${item.cvePublishedDate}"></div>
        CVE Modified Date: <div th:text="${item.cveModifiedDate}"></div>
        Description: <label th:text="${item.description}"></label>
    </li>
</ul>

</body>
</html>