<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: Patch release notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>
<h1 th:text="|Patch Release Notes for Garden Linux ${gardenlinuxVersion}|"/>

<div>
    This page provides information about fixed vulnerabilities in a Garden Linux patch release.
    Note that this list might not be accurate and might be incomplete.
    Use with caution.
</div>

<div th:each="item : ${releaseNotes.packageList}">
    <p><strong>Source Package Name:</strong> <span th:text="${item.sourcePackageName}"></span></p>
    <p><strong>Old Version:</strong> <span th:text="${item.oldVersion}"></span></p>
    <p><strong>New Version:</strong> <span th:text="${item.newVersion}"></span></p>
    <p><strong>Fixed CVEs:</strong></p>
    <ul>
        <li th:each="cve : ${item.fixedCves}" th:text="${cve}"></li>
    </ul>

    <hr />
</div>

</body>
</html>
