<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GLVD: List packages in distro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" media="screen" />
</head>
<body>
<h1 th:text="|Package list for Garden Linux ${gardenlinuxVersion}|" />

<table>
    <thead>
    <tr>
        <th>Source Package</th>
        <th>Version</th>
    </tr>
    </thead>
    <tr th:each="package: ${packages}">
        <td th:text="${package.sourcePackageName}" />
        <td th:text="${package.sourcePackageVersion}" />
    </tr>
</table>

</body>
</html>