name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  # This is required for requesting the JWT
  id-token: write
  # Push container images
  packages: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:

    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'sapmachine'

    # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

    - name: Start container with postgres for testing
      run: docker compose --file unit-test-db-compose.yaml up --build --wait --detach

    - name: Build with Gradle Wrapper
      run: ./gradlew --no-daemon build asciidoctor

    - name: Store reports
      if: failure()
      uses: actions/upload-artifact@v5
      with:
        name: reports
        path: |
          **/build/reports/
          **/build/test-results/

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: build-artifacts
        path: 'build'

  container-image:
    runs-on: ubuntu-24.04
    needs:
      - build
    env:
      # Change this if you fork the repo
      IMAGE_NAME_ORG: gardenlinux
      # Change this if you fork the repo
      OIDC_AUDIENCE: glvd
      IMAGE_NAME: glvd-api
      IMAGE_TAG: latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - run: mkdir -p build
      - name: Download built jar
        uses: actions/download-artifact@v6
        with:
          name: build-artifacts
          path: build

      - name: Install qemu dependency for multi-arch build
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME_ORG }}/${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          platforms: linux/amd64, linux/arm64
          containerfiles: |
            ./Containerfile

      - name: Echo Outputs
        run: |
          echo "Image: ${{ steps.build_image.outputs.image }}"
          echo "Tags: ${{ steps.build_image.outputs.tags }}"
          echo "Tagged Image: ${{ steps.build_image.outputs.image-with-tag }}"

      - name: Check images created
        run: buildah images | grep '${{ env.IMAGE_NAME }}'

      - name: Check manifest
        run: |
          set -x
          buildah manifest inspect ${{ steps.build_image.outputs.image }}:${{ env.IMAGE_TAG }}

      - name: Push To ghcr.io
        id: push-to-ghcr
        if: ${{ github.event_name != 'pull_request' }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to ghcr.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: Build bare images
        run: |
          ./build_bare.sh ghcr.io/${{ env.IMAGE_NAME_ORG }}/${{ env.IMAGE_NAME }} latest

      - name: Push bare images
        if: ${{ github.event_name != 'pull_request' }}
        id: bare
        run: |
          podman push --digestfile=bare-amd64-digest ghcr.io/${{ env.IMAGE_NAME_ORG }}/${{ env.IMAGE_NAME }}:latest-linuxamd64_bare
          podman push ghcr.io/${{ env.IMAGE_NAME_ORG }}/${{ env.IMAGE_NAME }}:latest-linuxarm64_bare
          echo "bare-amd64-digest=$(cat ./bare-amd64-digest)" >> $GITHUB_OUTPUT

      - name: Print image url
        if: ${{ github.event_name != 'pull_request' }}
        run: echo "Image pushed to ${{ steps.push-to-ghcr.outputs.registry-paths }}"

      - name: Print digest
        if: ${{ github.event_name != 'pull_request' }}
        run: echo "Image pushed to ${{ steps.push-to-ghcr.outputs.digest }}"

      - name: Authenticate to cluster
        id: kube_auth
        uses: gardener/cc-utils/.github/actions/kubernetes-auth@b7e4d874f30171964c5262a0bc20d644f4bcedba
        with:
          server: https://api.glvd.gardnlinux.shoot.canary.k8s-hana.ondemand.com
          server-ca-discovery-url: https://discovery.ingress.garden.canary.k8s.ondemand.com/projects/gardnlinux/shoots/8a569063-b0d3-45c4-a653-158e70b1bfd1/cluster-ca
          audience: ${{ env.OIDC_AUDIENCE }}

      - name: Deploy the image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          KUBECONFIG: kubeconfig.yaml
        run: kubectl --namespace default set image deploy/glvd glvd-api=ghcr.io/${{ env.IMAGE_NAME_ORG }}/${{ env.IMAGE_NAME }}:latest-linuxamd64_bare@${{ steps.bare.outputs.bare-amd64-digest }}

  dependency-submission:

    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'sapmachine'

    # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
    # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

  deploy-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      pages: write
    needs:
      - build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - uses: actions/download-artifact@v6
        with:
          name: build-artifacts
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/asciidoc'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

